<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>Ultimate After School Program</title>
    <%= stylesheet_link_tag 'talawanda', :media => "all" %>
    <%= javascript_include_tag :defaults  %>
  </head>
  <body id="main">
    <div id="banner">
      <%= @page_title || "Talawanda After School Ultimate Frisbee Program" %>
    </div>

    <div id="sideImage">
      <%= image_tag "image3371.jpg" %>
      <p>
        links
      </p>
    </div>
    <div id="menu">
      
      <%#*<ul>%>
        <%#*<li><%= link_to image_tag("image297.gif", :border => 0), {:controller => :talawanda, :action => :index} %></li>%>
        <%#*<li><a href="http://www..../faq">Questions</a></li>%>
        <%#*<li><a href="http://www..../news">News</a></li>%>
        <%#*<li><a href="http://www..../contact">Contact</a></li>%>
      <%#*</ul>%>
    </div>
    <div id="mainContent">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>
